.header_style {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  color: #ffa500;
}

@media (max-width: 768px) {
  .header_style {
    font-size: 32px;
    font-weight: 500;
    line-height: 30px;
  }
}
