* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a;
}

.slick-dots {
  display: flex;
  align-items: center;
  gap: 30px;
  bottom: -50px;
}

.slick-dots li button {
  background-color: #eef1f6;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 10px;
}

.slick-dots li.slick-active button {
  background-color: #ffa500;
  height: 8px;
  border-radius: 100px;
  padding-right: 20px;
}

.slick-dots li button:hover {
  background-color: #aaa;
}
